:root {
  --primary-bg-color: #302c42;
  --primary-text-color: #fff;
  --secondary-text-color: linear-gradient(
    269deg,
    #c0b7e8 -3.72%,
    #8176af 82.17%
  );
  --primary-font-family: Montserrat;
  --button-bg-color: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  --button-text-color: #343045;
}
