:root {
  --primary-bg-color: #302c42;
  --secondary-bg-color: radial-gradient(
    2900.76% 50.13% at 50% 53.89%,
    rgba(58, 52, 86, 0.95) 0%,
    #211e2e 100%
  );
  --primary-text-color: #fff;
  --secondary-text-color: linear-gradient(
    269deg,
    #c0b7e8 -3.72%,
    #8176af 82.17%
  );
  --primary-font-family: Montserrat;
  --button-bg-color: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  --button-text-color: #343045;
}
