<div class="vector--container">
  <header class="header">
    <div class="container">
      <div class="header--wraper">
        <div class="header--left-side">
          <img class="header--logo" src="./images/svg/logo.svg" alt="logo" />
          <img
            class="header--logo_text"
            src="./images/svg/logo_text.svg"
            alt="logo text"
          />
        </div>
        <div class="header--right-side">
          <img
            class="header--burger-menu"
            src="./images/svg/Hamburger-Button.svg"
            alt="burger menu"
          />
        </div>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="container">
      <div class="main--wraper">
        <div class="main--bg_img"></div>
      </div>
      <h1 class="main--text">
        <span class="main--text-color first">Dive</span> Into The Depths <br />
        Of
        <span class="main--text-color second">Virtual Reality</span>
      </h1>
      <button class="main--button">BUILD YOUR WORLD</button>
      <div class="main--slider"></div>
    </div>
  </main>
</div>
