<section class="section">
  <div class="container">
    <h2 class="introduction--head">
      <span class="introduction--head-first-part">INTRODUCTION</span><br />
      TO HYDRA VR
    </h2>
    <div class="introduction--img-wrap"></div>
    <p class="introduction--text">
      Eget mi proin sed libero enim sed faucibus turpis. Nisl rhoncus mattis
      rhoncus urna neque viverra justo. Vivamus at augue eget arcu dictum.
      Ultrices gravida dictum fusce ut placerat orci. Aenean et tortor at risus
      viverra adipisci ng at in. Mattis aliquam faucibus purus in massa. Est
      placerat in egestas erat imperdiet sed. Consequat sem per viverra nam
      libero justo laoreet sit amet. Aliquam etiam erat velit scelerisque in
      dictum non consectetur a. Laoreet sit amet cursus sit amet. Vel eros donec
      ac odio tempor orci dapibus. Sem nulla pharetra diam sit amet nisl
      suscipit adipiscing bibendum. Leo a diam sollicitudin tempor.
    </p>
    <div class="introduction--button-box">
      <button class="introduction--button">LET’S GET IN TOUCH</button>
    </div>
  </div>
</section>
