.header {
  margin-bottom: 12px;
}

.vector--container {
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/svg/Bg_line_1.svg),
    url(../images/svg/Bg_line_2.svg), url(../images/svg/Bg_line_3.svg);
  background-repeat: no-repeat;
  background-position: 10% 10%, 100% 60%, 50% 50%;
  background-size: auto;
}

.header--wraper {
  display: flex;
  justify-content: space-between;
}

.header--left-side {
  display: flex;
  padding-top: 26px;
  padding-left: 20px;
}

.header--right-side {
  padding-top: 53px;
  padding-right: 20px;
}

.header--logo {
  margin-right: 11px;
}

.header--logo_text {
  align-self: last baseline;
  padding-bottom: 5px;
}

.main {
  text-align: center;
}

.main--wraper {
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 46px;
  margin-bottom: 40px;
}

.main--bg_img {
  width: 320px;
  height: 278px;
  background-image: url('../images/hero.png');
  background-size: contain;
  border-radius: 100px 100px 100px 240px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.main--text {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 36px;
}

.main--text-color.first {
  font-size: 36px;
  font-weight: 700;
  background: linear-gradient(92deg, #c0b7e8 -1.02%, #8176af 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main--text-color.second {
  font-size: 32px;
  font-weight: 700;
  background: linear-gradient(269deg, #c0b7e8 -3.72%, #8176af 82.17%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main--button {
  text-align: center;
  font-family: var(--primary-font-family);
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  color: var(--button-text-color);
  font-size: 14px;
  font-weight: 700;
  min-width: 292px;
  padding: 17px 68px;
  border-radius: 40px;
  margin-bottom: 63px;
}
